<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyGame</title>
    <script src="./vuejs/vue.js"></script>
</head>
<body>
<div id="app">
    <div style="align-content: center">
        <input v-model="Union" placeholder="your name" >
        <br>
        <!--<input v-model="WUser.Password" type="password" placeholder="your password">-->
        <!--<br>-->
        <button v-on:click="ok">注册</button>
        <br><button @click="createRoom">创建房间</button>
        <br>创建的房间号:{{room}}
        <br><input v-model="roomID" placeholder="room id">
        <button @click="joinRoom">加入房间</button>

        <br><button @click="readyGame">准备</button>
        <br><button @click="quitRoom">退出房间</button>

    </div>
</div>

</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
           Union: '',
//            ws:
            room:{},//房间信息
            roomID:'',

        },
        methods: {
            ok:function(){
//                console.log("clicking",ws)
//                console.log("clicking",this.WUser)
//                console.log("json=",JSON.stringify(this.WUser))
//                console.log("JSON=",JSON.stringify({WUser:{Name:this.WUser.Name,Password:this.WUser.Password}}))
//                ws.binaryType = 'arraybuffer'
                ws.send(JSON.stringify({WeChatLogin:{Union:this.Union}}))
            },
            joinRoom:function () {
                console.log("roomID=",this.roomID)
                ws.send(JSON.stringify({JoinRoom:{RoomAccID:this.roomID}}))
            },
            createRoom:function () {
                console.log("cccreteaaaaa")
                ws.send(JSON.stringify({RoomBase:{Volume:4}}))
            },
            quitRoom:function () {
                ws.send(JSON.stringify({QuitRoom:{Flag:1}}))
            },
            readyGame:function () {
                ws.send(JSON.stringify({ReadyGame:{Flag:1}}))
            }

        },
    })

    var decoder = new TextDecoder('utf-8')
    var ws = new WebSocket('ws://127.0.0.1:3653')
    ws.binaryType = 'arraybuffer'
//    ws.onopen = function()
//    {
//        // Web Socket 已连接上，使用 send() 方法发送数据
//        ws.send(JSON.stringify({WUser:{Name:'yind12dddd',Password:'yidn12sddd'}}));
//        alert("数据发送中...");
//    };

    ws.onmessage = function (evt)
    {
        var data = JSON.parse(decoder.decode(evt.data));

//        alert("数据已接收...");
        console.log("received =",data)
//        console.log("received =",typeof (data))
//        var

        if (data.CodeState){
            console.log("code===")
        }else if (data.RoomBase){
            console.log("room")
        }else if(data.RoomDataInfo){

            this.roomID = data.RoomDataInfo.RoomAccID

        }else if(data.Cards){
            console.log("手牌有:",data.Cards.Cards)
            console.log("碰有:",data.Cards.PengCards)
            console.log("杠有:",data.Cards.GangCards)

        }else if(data.JoinRoom){

        }else if(data.QuitRoom){

        }else if(data.ReadyGame){
            console.log("readyGame",data.ReadyGame.Flag)
        }else{
            console.log("else...")
        }
//        switch (data){
//        case
//        }
//        console.log("received 1=",data.CodeState.MSG_STATE)
//        console.log("received 2=",data.CodeState.Message)
    };

//    ws.onclose = function()
//    {
//        // 关闭 websocket
//        alert("连接已关闭...");
//    };

</script>
</html>

